Skip to content
 
Search Gists
Search...
All gists
Back to GitHub
@rajeevedmonds
rajeevedmonds/sample-style.css
Created 13 years ago • Report abuse
Code
Revisions
1
Stars
1
Forks
1
Clone this repository at &lt;script src=&quot;https://gist.github.com/rajeevedmonds/4706380.js&quot;&gt;&lt;/script&gt;
<script src="https://gist.github.com/rajeevedmonds/4706380.js"></script>
sample-style.css
body{  
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:15px;
    color:#000;
    background:#fff;
}
 
h1 {
    font-size:50px;
}
 
h3 {
    font-size:22px;
}
 
#content-wrapper {
    width:960px;
    text-align:left;
    margin:0 auto;
    background:#fff;
    padding:15px;
     
}
 
#header{
    width:960px;
    height:120px;
}
 
#post-content {
    float:left;
    width:600px;
    padding:0 15px 15px 15px;
}
 
.sidebar{
    float:left;
    width:300px;
    margin:0 0 0 15px;
    font-size:15px;
    list-style:none;
}
 
#footer{
    height: 60px;
    background: #fff;
    padding: 15px;
    clear:both;
}
@Uday2896
Comment
 
Leave a comment
 
Footer
© 2025 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact
Manage cookies
Do not share my personal information
